<section class="bg-primary map" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">In 1963, 4 SigneTs crossed the Channel - just to prove they could!</h2>
                <hr class="light">
                <p">60 years ago, a small convoy of sturdy little dinghies set out to disprove the myth around seaworthiness of <b>SigneTs</b>.</p>
                <p>This year the SigneT Class Owners Association will be completing a tribute to this voyage in aid of RNLI and Ellen MacArthur Cancer Trust!</p>
                
                <h3>When: 11th June 2022</h3>
                <h3>Where: Dover to Calais</h3>
                <br>
                <br>
                <a href="https://gofund.me/b0fb7163" target="_blank" class="btn btn-default btn-xl">Donate!</a>
                
                <a href="/report" style="margin: 20px" class="btn btn-default btn-xl">Report!</a>
            </div>
        </div>
    </div>
</section>
