<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="charity-img" src="/img/northropsails.jpeg">
                    <h3><a href="http://www.northropsails.com/">Northrop Sails</a></h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="charity-img" src="/img/wessexsresin.jpeg">
                    <h3><a href="https://wessexresins.co.uk/">Wessex Resins + Adhesives</a></h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="charity-img" src="/img/morgansails.jpg">
                    <h3><a href="https://morgan-sails.com">Morgan Sails</a></h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="charity-img" src="/img/eddiemurphy.jpeg">
                    <h3><a href="http://eddiemurphyfs.com">Eddie Murphy Financial Services</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
