<section id="raffle">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Raffle</h2>
                <h4>We will be running a raffle to raise funds at the <a href="http://www.cvrda.org/events/hunts-rally-2/">CVRDA Rally at Hunts</a> on 29th April!</h4> 
                <p>Below is a selection of prizes we will have! More prizes to come!</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="raffle-img" src="/img/northropsails-raffle.jpg">
                    <h4>Northrop Sails customised Bainbridge sailcloth duffle bag</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="raffle-img" src="/img/westsystems-raffle.jpeg">
                    <h4>A selection of West System product courtesy of Wessex Resin (photo for reference)</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <div class="service-box">
                    <img class="raffle-img" src="/img/morgan-raffle.jpg">
                    <h4>SigneT branded 90L sailing bags courtesy of Morgan Sails</h4>
                </div>
            </div>
            
        </div>
    </div>
</section>
